@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*==================================================================================================
=========================================     header     ===========================================
==================================================================================================*/

.header {
	&__top {
		&-address {
			background-color: $bg-color;
			padding: 15px 0;
		}
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			& .email,
			& .phone {
				color: #fff;
				@include p-regular;
				font-size: 14px;
				display: inline-block;
				border-bottom: dashed 1px transparent;
				transition: all .3s;
				&:hover {
					border-bottom: dashed 1px #fff;
				}
			}
		}
		&-navigation {
			padding: 30px 0;
		}
		&-menu {
			max-width: 720px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&--list {
				li {
					display: inline-block;
					& + li {
						margin-left: 60px;
					}
					a {
						text-transform: uppercase;
						font-weight: 700;
						transition: all .3s;
					}
					&:hover {
						a {
							color: $accent-color;
						}
					}
				}
			}
			&--button {
				display: block;
				width: 21px;
				height: 21px;
				position: relative;
				&::before {
					content: "\f002";
					position: absolute;
					font-family: "icomoon";
					font-size: 21px;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: all 0.3s;
				}
				&:hover::before {
					color: $accent-color;
				}
			}
		}
	}
}




@import "media";
