@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*==================================================================================================
=========================================     header     ===========================================
==================================================================================================*/

.header {
	&__top {
		&-address {
			background-color: $bg-color;
			padding: 15px 0;
		}
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			& .email,
			& .phone {
				color: #fff;
				@include p-regular;
				font-size: 14px;
				display: inline-block;
				border-bottom: dashed 1px transparent;
				transition: all .3s;
				&:hover {
					border-bottom: dashed 1px #fff;
				}
			}
		}
		&-navigation {
			padding: 30px 0;
		}
		&-menu {
			max-width: 720px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&--list {
				li {
					display: inline-block;
					& + li {
						margin-left: 60px;
					}
					a {
						text-transform: uppercase;
						font-weight: 700;
						transition: all .3s;
					}
					&:hover {
						a {
							color: $accent-color;
						}
					}
				}
			}
			&--button {
				display: block;
				width: 21px;
				height: 21px;
				position: relative;
				&::before {
					content: "\f002";
					position: absolute;
					font-family: "icomoon";
					font-size: 21px;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: all 0.3s;
				}
				&:hover::before {
					color: $accent-color;
				}
			}
		}
	}
	&__banner {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__slider {
		&-item {
			padding: 200px 0 225px;
			color: #fff;
			text-align: center;
		}
		&-title {
			max-width: 730px;
			@include p-bold;
			font-size: 72px;
			line-height: 90px;
			margin: 0 auto;
			margin-bottom: 30px;
			span {
				color: $accent-color;
			}
		}
		&-subtitle {
			max-width: 630px;
			margin: 0 auto;
			margin-bottom: 50px;
		}
	}
}

/*==================================================================================================
=========================================     welcome     ==========================================
==================================================================================================*/

.welcome {
	padding: 140px 0 120px;
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		max-width: 255px;
		width: 100%;
		border: solid 1px $bg-color;
		height: 380px;
		text-align: center;
		padding: 60px 20px 20px;
		background-color: $bg-color;
		color: #fff;
		cursor: pointer;
		transition: all .5s ease;
		&:hover {
			border: solid 1px $accent-color;
			background-color: #fff;
			color: $text-color;
			.welcome {
				&__item {
					&-img {
						background-color: $accent-color;
						svg{
							path {
								fill: #fff;
							}
						}
					}
				}
			}
		}
		&-img {
			width: 80px;
			height: 80px;
			margin: 0 auto;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 35px;
			svg {
				path {
					width: 50px;
					height: 50px;
					fill: $accent-color;
				}
			}
		}
		&-title {
			@include p-bold;
			margin-bottom: 5px;
		}
	}
}

/*==================================================================================================
========================================     services     ==========================================
==================================================================================================*/

.services {
	padding: 0 0 80px;
	&__inner {
		display: flex;
	}
	&__image {
		min-height: 528px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
	}
	&__items {
		width: 50%;
		padding: 45px 0 0 60px;
		&-title {
			font-size: 36px;
			color: $bg-color;
			@include p-bold;
			margin-bottom: 45px;
		}
	}
	&__item {
		max-width: 510px;
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		&-image {
			min-width: 80px;
			min-height: 80px;
			background-color: $bg-color;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 35px;
		}
		&-content {
			max-width: 390px;
			width: 100%;
		}
		&-title {
			text-transform: uppercase;
			font-size: 18px;
			@include p-bold;
			margin-bottom: 15px;
		}
	}
}

/*==================================================================================================
========================================     happynes     ==========================================
==================================================================================================*/

.happynes {
	padding: 70px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__inner {
		display: flex;
		justify-content: space-around;
	}
	&__item {
		max-width: 230px;
		width: 100%;
		color: #fff;
		text-align: center;
		@include p-bold;
		&-name {
			font-size: 26px;
			margin-bottom: 25px;
		}
		&-number {
			font-size: 46px;
		}
	}
}

/*==================================================================================================
==========================================     offer     ===========================================
==================================================================================================*/

.offer {
	padding: 140px 0 70px;
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		max-width: 350px;
		width: 100%;
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
		&-content {
			width: 250px;
		}
		&-title {
			font-size: 26px;
		}
	}
}

/*==================================================================================================
=========================================     gallary     ==========================================
==================================================================================================*/

.gallary {
	&__control {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		button {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			transition: all .3s;
			&:hover,
			&.mixitup-control-active {
				color: $accent-color;
			}
			& + button {
				margin-left: 30px;
			}
		}
	}
	&__images {
		display: flex;
		justify-content: center;
	}
	&__item {
		max-width: 400px;
		width: 100%;
		min-height: 460px;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		display: block;
		&:hover {
			.gallary__hover {
				top: 0;
			}
		}
	}
	&__hover {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba($accent-color, .5);
		top: 100%;
		transition: all .5s ease;
		&::before {
			content: "\f06e";
			position: absolute;
			font-family: "icomoon";
			color: #fff;
			font-size: 30px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}


/*==================================================================================================
==========================================     team     ============================================
==================================================================================================*/


.team {
  padding: 140px 0 70px;
  &__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 350px;
    padding: 50px 10px;
    background-color: $bg-color;
    width: 100%;
    text-align: center;
    color: #fff;
    &-image {
      width: 148px;
      height: 148px;
      border: 50%;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 35px;
    }
    &-name {
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
    }
    &-description {
      font-size: 14px;
      color: $accent-color;
      margin-bottom: 25px;
    }
    &-social {
      width: 225px;
      margin: 0 auto;
      &--list {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        li {
          display: block;
          width: 40px;
          height: 40px;
          a {
            display: block;
            background-color: #fff;
            width: 100%;
            height: 100%;
            position: relative;
            transition: all .3s;
            &:hover {
              background-color: $bg-color;
              &::before {
                color: #fff;
              }
            }
            &::before {
              position: absolute;
              left: 50%;
              top: 50%;
              color: $bg-color;
              font-family: "icomoon";
              transform: translate(-50%, -50%);
            }
            &.facebook {
              &::before {
                content: "\f09a";
              }
            }
            &.twitter {
              &::before {
                content: "\f099";
              }
            }
            &.google {
              &::before {
                content: "\f0d5";
              }
            }
            &.linkedin {
              &::before {
                content: "\f0e1";
              }
            }
          }
        }
      }
    }
  }
}


/*==================================================================================================
======================================     testimonials     ========================================
==================================================================================================*/


.testimonials {
  padding: 140px 0 70px;
  background-color: #f4f4f4;
	&__inner {
		padding: 65px 105px 90px 80px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(45, 62, 80, 0.1);
		border-radius: 20px;
		max-width: 920px;
		margin: 0 auto;
	}
	&__item {
		&-user {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;
			&--image {
				width: 144px;
				height: 144px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
			&--name {
				width: 115px;
				text-transform: uppercase;
				font-weight: 700;
				color: $bg-color;
				font-size: 18px;
				line-height: 24px;
				span {
					font-size: 14px;
					font-weight: 400;
					line-height: 14px;
				}
			}
		}
		&-content {
			font-size: 16px;
			font-style: italic;
			color: #56616e;
			padding-left: 25px;
			margin-bottom: 20px;
		}
		&-rate {
			padding-left: 25px;
		}
	}
}


/*==================================================================================================
==========================================     news     ============================================
==================================================================================================*/


.news {
	padding: 140px 0 70px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 305px;
		&-image {
			min-height: 250px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		&-content {
			padding: 29px;
			background-color: $accent-color;
			color: #fff;
			&--title {
				@include p-bold;
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 25px;
			}
			&--text {
				margin-bottom: 15px;
			}
			&--information {
				display: flex;
				justify-content: space-between;
				font-size: 14px;
			}
		}
	}
}


/*==================================================================================================
=======================================     subcsribe     ==========================================
==================================================================================================*/


.subscribe {
	padding: 50px 0;
	&__title {
		font-size: 24px;
		@include p-bold;
		color: #0c0e37;
		margin-bottom: 55px;
		text-align: center;
	}
	&__email {
		max-width: 500px;
		margin: 0 auto;
		position: relative;
		input {
			width: 100%;
			min-height: 64px;
			border-radius: 32px;
			box-shadow: 0px 0px 30px 0px rgba(45, 62, 80, 0.2);
			background-color: #f0f0f0;
			border: none;
			padding: 0 245px 0 30px;
			outline: none;
			&::placeholder {
				color: #0c0e37;
			}
		}
		button {
			width: 235px;
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			background-color: $accent-color;
			min-height: 64px;
			border-radius: 32px;
			position: absolute;
			right: 0;
			top: 0;
			border: none;
			cursor: pointer;
			&:hover {
				background-color: #ffcb2e;
			}
		}
	}
}


/*==================================================================================================
========================================     footer     ============================================
==================================================================================================*/


.footer {
	padding: 65px 0 115px;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	color: rgba(#0c0e37, .7);
}




@import "media";
